<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ wp_head() }}
		<title>
			{% block title %}
				Cydran
			{% endblock %}
		</title>
	</head>
	<body>
		<header></header>
		{% block content %}{% endblock %}
		<footer>
			<p>© 2023 Cydran</p>
		</footer>
		{{ wp_footer() }}
	</body>
</html>
